In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv",index_col = 0)
test = pd.read_csv("test.csv",index_col = 0)

In [5]:
df = pd.concat([train,test],axis=0)

In [10]:
df[["discharge_status_new","fup_status_12mth_new","fup_status_30d_new"]].groupby(["discharge_status_new","fup_status_12mth_new","fup_status_30d_new"],dropna=False).size().unstack(fill_value=0)

fup_status_30d_new                          1.0  2.0   NaN
discharge_status_new fup_status_12mth_new
1.0                  1.0                   8149    0     0
                     2.0                    580  109     5
                     NaN                   6078    0  1052
2.0                  2.0                      0  150     0

In [38]:
580 + 109+150+18+18

875

In [32]:
8149 + 580 + 109 + 6078 + 1052 + 5 + 150

16123

In [30]:
df.query("death_in_study == True and fup_status_12mth_new == 1 ")

,gender_2.0,cad_1.0,prior_acute_mi_1.0,prior_cardio_surg_1.0,prior_pci_1.0,prior_cabg_1.0,prior_valve_replace_1.0,prior_bav_1.0,prior_af_1.0,prior_generator_1.0,...,upper_bound,death_observed,death_in_study,discharge_status_new,fup_status_30d_new,fup_status_12mth_new,event_observed,event_max,event_min,event_mid
ID,,,,,,,,,,,,,,,,,,,,,
11387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,360.0,True,True,1.0,1.0,1.0,True,360.0,360.0,360.0
10610,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,469.0,True,True,1.0,1.0,1.0,True,469.0,469.0,469.0
2529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,824.0,True,True,1.0,1.0,1.0,True,824.0,824.0,824.0
1978,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,509.0,True,True,1.0,1.0,1.0,True,509.0,509.0,509.0
10602,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,536.0,True,True,1.0,1.0,1.0,True,536.0,536.0,536.0
10813,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,73.0,True,True,1.0,1.0,1.0,True,73.0,73.0,73.0
11212,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,574.0,True,True,1.0,1.0,1.0,True,574.0,574.0,574.0
11228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1033.0,True,True,1.0,1.0,1.0,True,1033.0,1033.0,1033.0
1928,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,675.0,True,True,1.0,1.0,1.0,True,675.0,675.0,675.0
2507,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,854.0,True,True,1.0,1.0,1.0,True,854.0,854.0,854.0
10797,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,35.0,True,True,1.0,1.0,1.0,True,35.0,35.0,35.0
1874,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,729.0,True,True,1.0,1.0,1.0,True,729.0,729.0,729.0
1840,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1171.0,True,True,1.0,1.0,1.0,True,1171.0,1171.0,1171.0
10682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,498.0,True,True,1.0,1.0,1.0,True,498.0,498.0,498.0
11557,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,393.0,True,True,1.0,1.0,1.0,True,393.0,393.0,393.0
2162,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,569.0,True,True,1.0,1.0,1.0,True,569.0,569.0,569.0
1931,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,465.0,True,True,1.0,1.0,1.0,True,465.0,465.0,465.0
11100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,777.0,True,True,1.0,1.0,1.0,True,777.0,777.0,777.0

In [34]:
df.query("death_in_study == True and fup_status_30d_new.isna()")

,gender_2.0,cad_1.0,prior_acute_mi_1.0,prior_cardio_surg_1.0,prior_pci_1.0,prior_cabg_1.0,prior_valve_replace_1.0,prior_bav_1.0,prior_af_1.0,prior_generator_1.0,...,upper_bound,death_observed,death_in_study,discharge_status_new,fup_status_30d_new,fup_status_12mth_new,event_observed,event_max,event_min,event_mid
ID,,,,,,,,,,,,,,,,,,,,,
6136,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,532.0,False,True,1.0,NaN,2.0,True,532.0,31.0,282.0
2141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,172.0,True,True,1.0,NaN,2.0,True,172.0,172.0,172.0
5056,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,255.0,True,True,1.0,NaN,2.0,True,255.0,255.0,255.0
8904,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,315.0,True,True,1.0,NaN,2.0,True,315.0,315.0,315.0
1547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,True,True,1.0,NaN,NaN,True,30.0,30.0,30.0
16208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,340.0,True,True,1.0,NaN,2.0,True,340.0,340.0,340.0
1131,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,35.0,True,True,1.0,NaN,NaN,True,35.0,35.0,35.0

In [37]:
df.query("death_in_study == True and (fup_status_12mth_new.isna() or fup_status_30d_new.isna())")

,gender_2.0,cad_1.0,prior_acute_mi_1.0,prior_cardio_surg_1.0,prior_pci_1.0,prior_cabg_1.0,prior_valve_replace_1.0,prior_bav_1.0,prior_af_1.0,prior_generator_1.0,...,upper_bound,death_observed,death_in_study,discharge_status_new,fup_status_30d_new,fup_status_12mth_new,event_observed,event_max,event_min,event_mid
ID,,,,,,,,,,,,,,,,,,,,,
11031,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1028.0,True,True,1.0,1.0,NaN,True,1028.0,1028.0,1028.0
6045,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,34.0,True,True,1.0,1.0,NaN,True,34.0,34.0,34.0
6136,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,532.0,False,True,1.0,NaN,2.0,True,532.0,31.0,282.0
6245,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,93.0,True,True,1.0,1.0,NaN,True,93.0,93.0,93.0
2141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,172.0,True,True,1.0,NaN,2.0,True,172.0,172.0,172.0
11687,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,41.0,True,True,1.0,1.0,NaN,True,41.0,41.0,41.0
2056,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,333.0,True,True,1.0,1.0,NaN,True,333.0,333.0,333.0
10710,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,390.0,True,True,1.0,1.0,NaN,True,390.0,390.0,390.0
2301,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,247.0,True,True,1.0,1.0,NaN,True,247.0,247.0,247.0
2286,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,109.0,True,True,1.0,1.0,NaN,True,109.0,109.0,109.0
5056,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,255.0,True,True,1.0,NaN,2.0,True,255.0,255.0,255.0
8904,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,315.0,True,True,1.0,NaN,2.0,True,315.0,315.0,315.0
1547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,True,True,1.0,NaN,NaN,True,30.0,30.0,30.0
10444,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,570.0,True,True,1.0,1.0,NaN,True,570.0,570.0,570.0
16208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,340.0,True,True,1.0,NaN,2.0,True,340.0,340.0,340.0
1131,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,35.0,True,True,1.0,NaN,NaN,True,35.0,35.0,35.0
11255,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,207.0,True,True,1.0,1.0,NaN,True,207.0,207.0,207.0
2256,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,165.0,True,True,1.0,1.0,NaN,True,165.0,165.0,165.0

In [48]:
sub_df = df.query("event_max <= 30 and death_in_study==True")
print(sub_df.shape[0])
print(sub_df.shape[0]/df.shape[0]*100)

190
1.1784407368355765

In [49]:
print(df.query("event_max <= 365  and death_in_study==True").shape[0])
print(df.query("event_max <= 365 and death_in_study==True").shape[0]/df.shape[0]*100)

736
4.56490727532097